fastapi
uvicorn
mistralai

langchain
langchain-core
langchain-community
langchain-mistralai
langchain-text-splitters
langchain_huggingface

faiss-cpu
sentence-transformers

pypdf
python-docx

python-dotenv
python-multipart

numpy
pandas
httpx

streamlit
torchvision